# Kafka
KAFKA_BROKERS=localhost:29092
KAFKA_CLIENT_ID=demo1

# Schema Registry
SCHEMA_REGISTRY_URL=http://localhost:8081

# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/demo1

# Redis
REDIS_URL=redis://:redispassword@localhost:6379
