BUN_TARGET=bun-linux-x64

# gRPC
GRPC_PORT=5001

# GraphQL
GRAPHQL_PORT=4001

# Database
DATABASE_URL=postgresql://myuser:mypassword@localhost:5101/test1

# Kafka
KAFKA_BROKERS=localhost:29092
KAFKA_CLIENT_ID=test1

# Schema Registry
SCHEMA_REGISTRY_URL=http://localhost:8081
