BUN_TARGET=bun-linux-x64

# gRPC
GRPC_PORT=5002

# GraphQL
GRAPHQL_PORT=4002

# Kafka
KAFKA_BROKERS=localhost:29092
KAFKA_CLIENT_ID=test2
KAFKA_GROUP_ID=test2-group

# Schema Registry
SCHEMA_REGISTRY_URL=http://localhost:8081
